/* #btn2 {
    position: absolute
} */


/* _________________________________ */

#container {
    height: 900px;
    width: 1300px;
    margin: auto;
}

#boxes {
    display: flex;
    justify-content: center;
    align-content: center;
}

.boxstyle {
    height: 100px;
    width: 100px;
    border-radius: 25px;
}